.sidebar {
  width: 240px;
  background: #002f56;
  color: white;
  padding: 20px;
}

.logo {
  margin-bottom: 30px;
}

a {
  display: block;
  color: white;
  text-decoration: none;
  padding: 10px;
  border-radius: 6px;
}

a.active,
a:hover {
  background: #014a88;
}
